.bootstrapped .icon-tick {
  background-image: url("../img/tick.png");
  background-position: 0      0;
  width: 16px;
  height: 16px;
}
.bootstrapped .icon-cross {
  background-image: url("../img/cross.png");
  background-position: 0      0;
  width: 16px;
  height: 16px;
}
.bootstrapped .icon-tick-grey {
  background-image: url("../img/tick-grey.png");
  background-position: 0      0;
  width: 16px;
  height: 16px;
}
.bootstrapped .notify-container {
	height: 40px;
}
.bootstrapped .notify {
	background-color: #CCC;
	padding: 10px 20px;
	border-radius: 10px;
	margin-bottom: 10px;
	width: 40px;
	display: none;
}

.ui-tooltip {
  padding: 10px 20px;
  border-radius: 10px;
  width: 200px;
}